<h1>Listagem de Tipos</h1>

<table>
  <tr>
    <th>Descricao</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tipos.each do |tipo| %>
  <tr>
    <td><%= tipo.descricao %></td>
    <td><%= tipo.tipo %></td>
    <td><%= link_to 'Editar', edit_tipo_path(tipo) %></td>
    <td><%= link_to 'Apagar', tipo, :confirm => 'Você tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo Tipo', new_tipo_path %> <br />
<%= link_to 'Voltar', "/" %>
